@font-face {
    font-family: 'myFont';
    src: url(./IRANMarker.ttf) format('truetype');
}

body {
    font-family: 'myFont';
    background-color: #7DA2A9;
}

input::placeholder {
    text-align: right;
    font-size: 14px;
}

input[type="text"] {
    text-align: right;
}